<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta http-equiv="cleartype" content="on">
    <style>
    @import '/css/search.css';
    </style>
</head>
<body>
    <img src="http://static.responsivenews.co.uk/img/logo.png" id="logo"/>
    <div id="page">
        <p class="about">Unofficial BBC Mobile search. Content unavailble prior to 1st March 2012 or thereabouts.</p>
    
        <div id="search">
            <form action="/news/search" method="get">
                <input type="search" id="q" name="q" results="5" value="<%= (@term) ? @term : '' %>">
                <input type="submit" value="Go">
            </form>
        </div>

        <div id="fav">
         <p id="favourite">Save this search.</p>
         <p id="favourite-list"></p>
         <p id="favourite-clear">Clear saved searches.</p>
        </div>

        <% if @results %>

         <ul>
            <% @results.each_with_index do |result, i| %>
                <li>
                    <div>
                        <p class="date"><%= result.date.strftime("%d %B %Y") %></p>
                        <p class="tag"><%= result.term %></p>
                    </div>
                    <h2><a href="http://m.bbc.co.uk/<%= result.uri %>"><%= result.title %></a></h2>
                    <p>
                        <%= result.text %>
                    </p>
                </li>
            <% end %>
         </ul>

        <% else %>

         <p>'<%= @term %>' not found.</p>

        <% end %>

        <div id="pagination">
            <span>
                <% if (@page > 2) then %>
                    <a href="?q=<%= @term %>&page=<%= (@page - 2) %>">Previous</a>
                <% end %>
            </span>
            <span class="next">
                <% if (@page) then %>
                    <a href="?q=<%= @term %>&page=<%= @page %>">Next</a>
                <% end %>
            </span>
        </div>

    </div>
    <script type="application/javascript" src="/js/local_storage.js"></script>
</body>
</html>


